html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#main {
	display: flex;
	
}
#container {
	overflow: auto;
	
	
}
#open_menu {
	background-color: black;
	margin-left: auto;
	position: absolute;
	right :0;
	display: none;
	border-radius: 5px;
	cursor: pointer;
}
#hide_menu {
	position:absolute;
	padding: 0 4px;
	right: auto;
	font-size: 26px;
	font-weight: 800;
	color: white;
	margin-left: -23px;
	background-color: black;
	cursor: pointer;
}
#menu_container {
	display: flex;
	transition: width 1s;
	background-color: white;
	width: 40%;
	margin-left: auto;
	overflow: auto;
	flex-direction: column;	
}

#data_control_container{
	height: 0em;
	background-color:white;
	overflow:auto;
	padding-left: 10px;
	transition: height 1s;
	position: relative;
}
#data_block {
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: grey;
	opacity: 0.5;
	
}
#choose_data_container {
	height: 20em;
	background-color:white;
	overflow:auto;
	padding: 0 10px;
	flex-direction: column;
	transition: height 1s;
}

.choice_container {
	margin: 5px 0;
	padding: 5px 10px;
	border: solid 1px black;
	display: flex;
	flex-direction: column;
}

#load_data_container {
	display: flex;
	justify-content: center;
}

#load_data {
	padding: 10px 0;
	width: 200px;
}

#data_loaded {
	text-align: center;
	font-weight: 800;
	color: maroon;
	margin: 5px 0;
}

.general_control_container_div{
	flex-basis: 100%;
	cursor: pointer;
	text-align: center;
	background-color: grey;
	font-size: large;
	border-top: 1px solid #fff;
	overflow: hidden;
}


#graphic_control_container{
	height: 0em;
	
	background-color:white;
	
	padding-left: 10px;
	transition: height 1s;
	overflow: scroll;
}

#choose_params_container{
	height: 0em;
	
	background-color:white;
	
	padding-left: 10px;
	transition: height 1s;
	overflow: auto;
}

#general_control_container{
	
	background-color:white;
	max-height: 526px;
}

#animation_control_container{
	background-color:white;
	overflow:auto;
	height: 0em;
	padding-left: 10px;
	transition: height 1s;
}

#filter_control_container{
	
	height: 0em;
	background-color:white;
	overflow:auto;
	padding-left: 10px;
	transition: height 1s;
}
#filter_control_container div {
	margin-right: 5px;
}

#h_temp_color_container{
	position:absolute;
	right: 0px;
	bottom: 200px;
	width: 400px;
	height: 200px;
	background-color:white;
	overflow:auto;
}

#control_container{
	
	width: 400px;
	height: 200px;
	background-color:white;
	overflow:auto;
}
.data_control_container_inside {
	display: flex;
	flex-direction: column;
}
#values_selection_sbl,
 #values_selection_meso {
	display: none;
}
.data_list {
	margin : 10px 0;
}
button {
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

#heights_chosen {
	display: flex;
	flex-direction: column;

}
.heights_chosen_details {
	font-size: 12px;
	font-weight: bold;
}


.control_container_sub{
	display: flex;
	flex-direction: row;
}

.values_header {
	flex-basis: 45%;
	flex-grow: 0;
	border: 1px solid black;
	background-color: gainsboro;
	text-align: center;
	cursor: pointer;
	margin: 15px 0;
}
.ckbx_list {
	display: flex;
	flex-wrap: wrap;
	
}
.input_container {
	display: flex;
	flex-basis: 35%;
	flex-grow: 0.9;
	padding-left: 10px;
	
}

.input_data_container_1{
	float:left;
	width:15%;
}

.input_data_container_2{
	float:left;
	width:35%;
}

#container_nuage_points {
	
	text-align: center;
	
}
#container_nuage_points .ckbx_list {
	border: 1px solid black;
	margin: 10px;
	padding-top: 10px;
}
#container_nuage_points .ckbx_list .input_container {
	padding : 5px;
	flex-basis: 30%;
	
}
#color_control_input {
	display: flex;
	flex-direction: column;
}
.color {
	display: flex;
	flex-direction: row;
	margin: 1px;
	
	cursor: pointer;
	height: 20px;
}

.color div{

	flex-grow: 1;
}

#active_HCL div{
	height: 20px;
	flex-grow: 1;
}
#color_list_absolute {
	position: absolute;
	top:41%;
	right:7%;
	background-color: white;
}
.color_control_input_list {
	display: none;
	flex-direction: column;
	width: 313px;
	border: solid 1px black;
	z-index: 3;
	position: absolute;
	right: 0px;
}
#active_HCL {
	font-weight: 800;
	border : 1px solid black;
	margin: 10px  25.4% 10px 0;
	cursor: pointer;
	text-align: center;
	display: flex;
	flex-direction: row;
	height: 20px;
}
.infobulle {
	position: relative;


}
.infobulle:hover::after,
.infobulle:focus::after {
	content: attr(aria-label); 
  position: absolute;
  top: -90%;
  left: 90%;
  z-index: 1; 
  background-color: white;
  border: solid 1px black;
  transform: translateX(-50%);
  padding: 2px;
}
#temp_histogram_content {
	display : block;
	padding : 5px 0;
	margin : 5px 10px 0;
}

.draggables {
	cursor : pointer;
}
#domain_min_input {
	
	width : 40px;
}
#domain_max_input {
	
	width : 40px;
}
#domain_inputs_flex {
	display: flex;
	margin-bottom: 10px;
}
#domain_inputs_flex div {
	flex-basis: 50%;
	display: flex;
	margin-top: -13px;
	
}
#div_inputs_min {
	justify-content: left;
	margin-left: 20px;
}
#div_inputs_max {
	justify-content: right;
	margin-right: 5px;
}
.slider {
	margin: 5px;
}
.sauvegarde_params {
 margin:10px;
 border: solid 1px black;
 padding : 10px;
}

#button_load_file {
	margin-top: 10px;
}
.mono_slider_container {
	display: flex;
}
#size_control div {
	padding-right: 10px;
	padding-top: 5px;
}
.mono_slider_input {
	width: 30px;	
	height: 15px;
	margin-top: 5px;	
}
.mono_slider {
	flex-basis: 100%;
	margin-left: 15px;
}
#size_slider span {
	margin-top: 1.5px;
	width: 1.4em;
	height: 1.4em;
}
#density_text_input{
	width: 50px;
}
#density_control {
	flex-direction: column;
}
#gnl_density {
	display: flex;
	
}
#gnl_density .slider {
	margin-top: 8px;
	
}

.interface_labels{
	font-weight: bold;
	border-top: solid;
	margin-top: 1px;
}